* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "JP";
  src: url("../fonts/UI.otf") format("opentype");
}

body {
  color: #4b4b4b;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #c52928;
  position: fixed;
  top: 0;
  z-index: 3;
}

.add {
  padding: 0;
  border: none;
  background: transparent;
  width: 30px;
  height: 30px;
  margin: 15px;
  position: absolute;
  right: 0;
  top: 0;
}
.add img {
  display: block;
  width: 30px;
  height: 30px;
}

.toptitle {
  font-family: "JP";
  font-weight: normal;
  font-size: 43px;
  text-align: center;
  margin: 90px 0 30px;
}

.member {
  width: 270px;
  height: 180px;
  text-align: center;
  padding: 15px 30px;
  border-radius: 30px;
  position: relative;
  margin: 20px auto;
  border: 1px #707070 solid;
}

.name {
  font-family: "JP";
  font-size: 33px;
}

.pm-btn {
  display: inline-block;
}

.plusbtn,
.minusbtn {
  overflow: hidden;
  float: left;
}

.plusbtn input {
  background: url("../images/plus.png") left top no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 22.5px 0;
  border: 0px;
}

.score {
  font-family: Arial, sans-serif;
  font-size: 85px;
  text-align: center;
  float: left;
  margin: 0 20px;
  width: 123px;
}

.minusbtn input {
  background: url("../images/minus.png") left top no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 22.5px 0;
  border: 0px;
}

.clearbtn {
  background: url("../images/clear.png") left top no-repeat;
  background-size: cover;
  width: 100px;
  height: 40px;
  border: 0px;
}

.deletebtn {
  background: url("../images/delete.png") left top no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  border: 0px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.7);
}
#modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  width: 260px;
  height: 260px;
  max-width: 90vw;
  max-height: 90vh;
  box-sizing: border-box;
  padding: 40px 20px;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  font-family: "JP";
  font-weight: normal;
}
.active {
  display: block !important;
}

.modaltitle {
  font-size: 30px;
  margin-bottom: 15px;
}

.modalsubtitle {
  font-size: 23px;
  margin-bottom: 15px;
}

.select {
  border: 0;
  padding: 10px 0;
  font-size: 1.3em;
  font-family: "JP", Arial, sans-serif;
  color: #707070;
  border: solid 1px #707070;
  width: 100%;
  border-radius: 3px;
  box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.close {
  background: url("../images/close.png") left top no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  border: 0px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.close img {
  display: block;
  width: 25px;
  height: 25px;
}

.enter {
  background: url("../images/enter.png") left top no-repeat;
  background-size: cover;
  width: 90px;
  height: 45px;
  border: 0px;
}
